#slyde-button {
    width: 50px;
    color: #cccccc;
    padding: 0;
    margin-left: 8px;
    transition: color 0.2s ease;
    cursor: pointer !important;
}

#slyde-button:hover {
    color: #ffffff;
}